<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WTC | 關於</title>
    <!-- 連結css檔 -->
    <link rel="stylesheet" href="css/include.css" />
    <link rel="stylesheet" href="css/about.css" />
</head>

<body>
    <div class="container">
        <!--header navbar------>
        <%- include('include/header'); %>
        <!--header navbar-end-->
        <div class="content">
            <div class="brands">
                <div class="logo">
                    <div class="logo-img">
                        <img src="images/LOGO.png" class="logo-img">
                    </div>
                    <div class="logo-text">
                        <h2>威士弘科技有限公司</h2>
                        <p>WASHOME TECHNOLOGY CO., LTD.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="product">
                    <p>機電整合自動化產品，自動化軟硬體，最完整的教育代理商。</p><br>
                    <p>代理軟體 | ProModel、ServiceModel、MedModel</p>
                    <p>代理硬體 | Mitsubishi Robot、Roland CAMM-3</p>
                </div>
                <div class="clear"></div>
                <div class="info-list">
                    <div class="info">
                        <div class="title">
                            <p>統一編號</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p>97037833</p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p>e-mail</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p><a href="mailto:wtc@pchome.com.tw">wtc999@gmail.com</a></p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p>連絡電話</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p><a href="tel:0226493978">(02)2649-3978</a></p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p>傳真號碼</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p><a href="tel:0226493346">(02)2649-3346</a></p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p>公司地址</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p><a href="https://www.google.com.tw/maps/place/221%E6%96%B0%E5%8C%97%E5%B8%82%E6%B1%90%E6%AD%A2%E5%8D%80%E5%A4%A7%E5%90%8C%E8%B7%AF%E4%BA%8C%E6%AE%B5267%E8%99%9F/" target="_blank">新北市汐止區大同路二段267號6F</a>-4</p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p>英文地址</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p>6F.-4, No.267, Sec. 2, Datong Rd., Xizhi Dist., New Taipei City 221, Taiwan (R.O.C.)</p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p>設立日期</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p>85年06月15日</p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                    <div class="info">
                        <div class="title">
                            <p>教育客戶群</p>
                        </div>
                        <div class="slash">
                            <p>/ </p>
                        </div>
                        <div class="information">
                            <p>台灣大學、師範大學、政治大學、中央大學、中原大學、中華大學、華梵大學、東華大學、義守大學、台灣科技大學、台北科技大學、朝陽科技大學、雲林科技大學、台北商業大學、亞東技術學院、龍華科技大學、黎明技術學院、明志科技大學、中華科技大學、聖約翰科技大學、萬能科技大學、健行科技大學、明新科技大學、勤益科技大學、修平科技大學、虎尾科技大學、南台科技大學、高苑科技大學、中區職訓中心、南區職訓中心、星展銀行</p>
                        </div>
                        <div class="clear"></div>
                        <hr size="2px" align="center" width="100%" color="#FF0000">
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <%- include('include/footer'); %>
    </div>

</body>


</html>
