<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WTC | 聯絡我們</title>
    <!-- 連結css檔 -->
    <link rel="stylesheet" href="css/include.css" />
    <link rel="stylesheet" href="css/connect.css" />

</head>

<body>
    <div class="container">
        <!--header navbar------>
        <%- include('include/header'); %>
        <!--header navbar-end-->
        <div class="content" style="height: 450px;">
            <div class="brands">
                <div class="brand">
                    <h2>與我們聯繫</h2>
                </div>
                <hr size="2px" width="99.84%" color="#FF0000">

                <div class="desc">
                    <center><p style="font-size: 26pt; margin-bottom: 150px;">送出成功 我們會盡快與您聯絡</p></center>

                    <center><a href="/" style="text-decoration: none; background-color: #EFEFEF; padding: 10px 50px; color: #000;">回首頁</a></center>
                </div>
            </div>


            <div class="clear"></div>
        </div>
        <%- include('include/footer'); %>
    </div>
</body>

</html>