@charset "utf-8";
/* CSS Document */
@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: '微軟正黑體','Noto Sans TC', sans-serif;
    background: #fff;
    margin:0;	
    min-width: 1350px;
}
div.clear{
    clear: both;
}
/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    margin:0;
    
    box-sizing: border-box;	
}

/* ------------------- */
/* content             */
/* ------------------- */
div.content{
	margin:0;   
    background: #fff;
    padding:20px 100px;
    text-align: justify;
    box-sizing: border-box;	
}




/* ------------------- */
/* header              */
/* ------------------- */
div.header{
    width:100%;
    height:60px;
    background: #fff;
    margin:0;
    padding:0;
    text-align: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}
div.navbar{
    width:100%;
    height:60px;
    margin:0;
    padding:0;
}
div.navbar img{
    height:50px;
    margin:5px 0;
    padding:0;
}
div.navbar ul {
    width:1350px;
    height:60px;
    margin:0;
    padding:0;
    display: inline-block;
    list-style-type:none;
}
div.navbar ul li{
	margin-left:50px;
    padding:15px 0px 15px 0px;
    line-height:30px;	
    float:right;	
	font-size:20px;
	
}
div.navbar ul li a{
    /* color:#2C2C2C; */
    color:#000;
    font-size: 16px;
    text-decoration:none;
}
img.navbar{
    height:30px;
    margin-right:30px;
    padding:15px 0px 15px 0px;
    float:left;
}
/* ------------------- */
/* footer              */
/* ------------------- */
div.footer{
    width: 100%;
    box-sizing:border-box;
    background-color: #FFF;
}
div.footer-content{
    box-sizing:border-box;
    width: 1350px;
    margin: 20px auto 40px auto;
}
div.aboutus{
    box-sizing:border-box;
    width: 35%;
    height: 100%;
    float: left;
}
div.aboutus img{
    width: 100%;
}
div.aboutus p{
    font-size: 14pt;
    margin: 15px 0;
}
div.aboutus h5{
    font-size: 11pt;
    margin: 30px 0;
}
div.aboutus a{
    color: #000;
    text-decoration: none;
}
div.links{
    box-sizing:border-box;
    width: 65%;
    height: 100%;
    float: left;
}
div.links-group{
    box-sizing:border-box;
    height: 100%;
    float: right;
    margin-right: 0;
}
div.links-group:not(:last-child){
    margin-left: 6%;
}
div.links-group p{
    color: #000;
    margin: 25px 0;
    font-size: 18pt;
}
div.links-group p:hover{
    text-decoration: underline;
}
div.links-group ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
    list-style: none;
    font-size: 12pt;
}
div.links-group li{
    margin: 12px 0;
}
div.links-group a {
    color: #000;
    text-decoration: none;
}
div.links-group a:hover {
    color: #b3b3b3;
    text-decoration: underline;
}
div.links-group a:visited {
    text-decoration: none;
}