@charset "utf-8";
/* CSS Document */

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: '微軟雅黑','微軟正黑體','Noto Sans TC', sans-serif;
    background: #fff;
    margin:0;	
    min-width: 1350px;
}
/* h1,h2,h3,h4,h5{
    font-weight:normal;
} */
div.clear{
    clear: both;
}
/* ------------------- */
/* container           */
/* ------------------- */
div.container{
    margin:0;
    box-sizing: border-box;	
}

/* ------------------- */
/* content             */
/* ------------------- */
div.content{
	margin:0;   
    background: #F8F8F8;
    padding:20px 100px;
    text-align: justify;
    box-sizing: border-box;	
}
div.brands{
    width:1170px;
    margin: auto;
    box-sizing:border-box;
}
div.brand{
    width:1170px;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* background-color: #f8f8f8; */
}
div.brand h2{
    margin-bottom: 0;
}
div.productbrand{
    float:left;	
}
div.productbrand img{
    width:30%;
    float:left;	
}
div.branddesc{
    width:70%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float:left;	
}
div.branddesc h3{
    font-size: 18pt;
    margin: 10px 20px;
    padding: 0;
}
div.branddesc p{
    font-size: 12pt;
    margin: 5px 20px;
    padding: 0;
}


div.classlisttitle{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

div.classlisttitle h2{
    margin-top: 40px;
    margin-bottom:0;
}
div.classlist{
    float:left;	
}
div.classlist img{
    height:200px;
    float:left;	
}
div.classdesc{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float:left;	
}
div.classdesc dl{
    margin: 5px 20px;
    padding: 0;
}
div.classdesc dt{
    font-size: 22px;
    color: #0076be;
}
div.classdesc dd{
    font-size: 16px;
}


