<div class="clear"></div>
<div class="footer">
    <hr size="2px" align="center" width="100%" color="#FF0000">
    <div class="footer-content">
        <div class="aboutus">
            <img src="images/LOGO-red.png" alt="" />
            <div class="clear"></div>
            <p>威士弘科技有限公司</p>
            <p>e-mail : wtc999@gmail.com</p>
            <p>地址 : 新北市汐止區大同路二段267號6樓之4</p>
            <p>連絡電話 : (02)2649-3978</p>
            <p>傳真號碼 : (02)2649-3346</p>
            <h5>
                <a href="/about">關於WTC</a> |
                <a href="/fix">產品維修</a> |
                <a href="/connect">聯繫我們</a>
            </h5>
        </div>
        <div class="links">

            <div class="links-group">
                <a href="/promodel">
                    <p>ProModel 產品系列</p>
                </a>
                <ul>
                    <li><a href="./promodel_product?product=p002">> ProModel</a></li>
                    <li><a href="./promodel_product?product=p001">> MedModel</a></li>
                    <li><a href="./promodel_product?product=p003">> ProModel Autodesk Edition</a></li>
                </ul>

            </div>
            <div class="links-group">
                <a href="/roland">
                    <p>Roland 產品系列</p>
                </a>
                <ul>
                    <li><a href="/roland_product?product=r005">> MDX-540 平台式減式快速原型機</a></li>
                    <li><a href="/roland_product?product=r006">> MDX-50 桌上型減式快速原型機</a></li>
                    <li><a href="/roland_product?product=r007">> SRM-20 桌上型減式快速原型機</a></li>
                    <li><a href="/roland_product?product=r008">> ARM-10 桌上型 3D 印表機</a></li>
                    <li><a href="/roland_product?product=r001">> LV 系列雷射雕刻機</a></li>
                    <li><a href="/roland_product?product=r002">> LD-80 雷射燙印機</a></li>
                    <li><a href="/roland_product?product=r003">> MPX-95 照片金屬印表機</a></li>
                    <li><a href="/roland_product?product=r004">> DE-3 桌上型雕刻機</a></li>
                </ul>
            </div>
            <div class="links-group">
                <a href="/robot">
                    <p>三菱電機 產品系列</p>
                </a>
                <ul>
                    <li><a href="/robot_class?class=c001">> 垂直型多關節機械手臂</a></li>
                    <li><a href="/robot_class?class=c002">> 水平型多關節機械手臂</a></li>
                    <li><a href="/robot_class?class=c003">> 天吊型水平多關節機械手臂</a></li>
                    <li><a href="/robot_class?class=c004">> 耐環境仕樣(醫藥品、食品)</a></li>
                    <li><a href="/robot_class?class=c005">> 水平型機械手臂</a></li>
                    <li><a href="/robot_class?class=c006">> 機械手臂選配</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>