<div class="header">
    <div class="navbar">
        <ul>
            <a href="/"><img src="images/mujilogo.png" class="navbar"></a>

            <li><a href="/connect">聯繫我們</a></li>
            <li><a href="/fix">產品維修</a></li>
            <li><a href="/promodel">ProModel</a></li>
            <li><a href="/roland">Roland</a></li>
            <li><a href="/robot">三菱電機</a></li>
            <li><a href="/about">關於威士弘</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>